
/* 공통 요소 */
body {margin: 0; padding: 0; background:/*@background-color=*/#ebebeb/*@*/
										/*@background-image=*/none/*@*/
										/*@background-image-repeat=*/no-repeat/*@*/
										/*@background-image-position=*//*@*/; font: small/1.3em "돋움","Dotum"; }
.article_post ul {
  padding: 0 15px;
   list-style-type: disc;
}

ul, ol {
  margin: 0; 
  padding: 0;
  list-style: none;
  }


* {font-family : 'NanumGothic','나눔고딕','맑은 고딕','돋움';};